.navbar {
  background: #222;
  position: relative;
  z-index: 1000;
  a {
    color: #fff;
  }
}
.navbar a:hover {
  color: #c0865e;
}
.navbar-brand {
  float: left;
  padding-left: 0;
  line-height: 80px;
  font-size: 40px;
}
.nav.left {
  float: left;
  margin-left: 40px;
  font-size: 15px;
}
.nav.right {
  float: right;
}
.nav  li {
  float: left;
}
.nav  li  a {
  display: block;
  font-size: 1.1em;
  line-height: 40px;
  padding: 5px 10px;
  margin: 15px 10px;
}
.nav  li  a:hover {
  color: #000;
  background: #fff;
}

.site-footer {
  color: #888
}
.site-footer ol,.site-footer ul {
  list-style: none
}
.site-footer li {
  line-height: 1.4em;
  font-size: .9em
}
.site-footer a {
  color: #888
}
.site-footer__row {
  width: 100%;
  padding: 10px
}
.site-footer__row--main {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 20px
}
.site-footer__row--sub p {
  float: left;
  padding: 10px 0
}
.site-footer__row--sub p strong {
  font-family: Plantin,"Plantin Pro","Book Antiqua",Georgia,"Times New Roman",serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 3px;
  color: #DFDFDF
}

.home-banner {
  height: 600px;
  margin-top: -80px;
}

